{% include '_header.twig' %}
        <div class="breadcrumb">
            <div class="inner-wrap">
                <a href="/">Home</a>
            </div>
        </div>
        <article class="main-content">
            <a id="content" tabindex="0"></a>
            <div class="heading">
                <div class="inner-wrap">
                    <h1 data-bolt-field="title">{{ record.title }}{% if record.editlink() %}<span class="edit-link"><a href="{{ record.editlink() }}">{{ __('Edit') }}</a></span>{% endif %}</h1>       
                </div>
            </div> 
            
            <div class="content inner-wrap">
                <div class="column content-wrap"> 

                    {{ record.teaser }}

                    {% set contenttypes = ["taakvelden", "baten-categorieen", "lasten-categorieen", "balansstanden-activa", "balansstanden-passiva"] %}
                    {% for contenttype in contenttypes %}
                        {% setcontent records = contenttype %}
                        {% for record in records %}
                            {% if record.sectiontype|lower == "hoofdonderdeel" %}
                                <h2>{{ record.title }}</h2>
                            {% endif %}
                        {% endfor %}
                        {% for record in records %}
                            {% if record.sectiontype|lower == "onderdeel" %}
                                <h3>{{ record.title }}</h3>
                                {{ record.body|replace({ "<h2>" : "<h4>", "</h2>" : "</h4>", "<h3>" : "<h5>", "</h3>" : "</h5>" })|raw }}
                            {% elseif record.sectiontype|lower == "artikel" %}
                                <h4>{{ record.title }}</h4>
                                {{ record.body|replace({ "<h2>" : "<h5>", "</h2>" : "</h5>", "<h3>" : "<h6>", "</h3>" : "</h6>" })|raw }}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}


                    {# Uncomment this if you wish to dump the entire record to the client, for debugging purposes.
                    {{ print(record) }}
                    #}

                    {# include '_recordfooter.twig' with {'record': record} #}

                    {# <p class="meta">
                        {% set previous = record.previous('id') %}
                        {% if previous %}
                            <a href="{{ previous.link }}">&laquo; {{ previous.title }}</a>
                        {% endif %}
                        -
                        {% set next = record.next('id') %}
                        {% if next %}
                            <a href="{{ next.link }}">{{ next.title }} &raquo;</a>
                        {% endif %}
                    </p> #}

                    {% set relatedrecords = record.related() %}
                    {% if relatedrecords is not empty %}
                    <p class="meta">{{ __('Related content:') }}
                    <ul>
                        {% for related in relatedrecords %}
                            <li><a href="{{ related.link }}">{{ related.title }}</a></li>
                            {%  endfor %}
                        </ul>
                    </p>
                    {% endif %}
                </div>
                {% include '_aside.twig' %}
            </div>
         </article>
{% include '_footer.twig' %}